<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.0/weui.css">
    <title>我的关注</title>
    <style>
        h1{font-size:20px;}
    </style>
</head>
<body ontouchstart style="height: 100%; background-color: #ededed">
<div class="weui-tab">
    <div class="weui-tab__panel">
        <div class="weui-panel weui-panel_access">
               <h1>您未关注任何人!</h1>
        </div>
    </div>
    {include file="../application/wxcampus/view/index/nav.html"}
</div>

</body>
</html>